<% # Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See full license at the bottom of this file. %>
<div class="panel panel-primary'>
  <div class="panel-heading">
    <h3 class="panel-title">Your Contacts</h3>
  </div>
  <div class="panel-body">
    <%= link_to "Import", import_url, class: "btn btn-default btn-primary" %>
    <% if not @contacts.nil? and @contacts['value'].any? %>
      <% no_more = @contacts['@odata.nextLink'].nil? %>
      <% current_page = params[:page].nil? ? 1 : params[:page].to_i %>
      <a href="<%= root_url + "?page=#{current_page - 1}" %>" class="btn btn-default" <%= disabled = "disabled" if current_page == 1 %>>&lt;</a>
      <a href="<%= root_url + "?page=#{current_page + 1}" %>" class="btn btn-default" <%= disabled = "disabled" if no_more %>>&gt;</a>
    <% end %>
  </div>
  <% if not @contacts.nil? and @contacts['value'].any? %>
    <ul class="list-group">
      <% @contacts['value'].each do |contact| %>
        <li class="list-group-item">
          <%= form_tag export_contact_url, class: "form-inline", role: "form" do %>
            <div class="form-group">
              <%= submit_tag "Export", class: "btn btn-xs btn-default" %>
              <%= label_tag 'name', contact['DisplayName'] %>
              <%= hidden_field_tag 'contact_id', contact['Id'] %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<%
# MIT License: 
 
# Permission is hereby granted, free of charge, to any person obtaining 
# a copy of this software and associated documentation files (the 
# ""Software""), to deal in the Software without restriction, including 
# without limitation the rights to use, copy, modify, merge, publish, 
# distribute, sublicense, and/or sell copies of the Software, and to 
# permit persons to whom the Software is furnished to do so, subject to 
# the following conditions: 
 
# The above copyright notice and this permission notice shall be 
# included in all copies or substantial portions of the Software. 
 
# THE SOFTWARE IS PROVIDED ""AS IS"", WITHOUT WARRANTY OF ANY KIND, 
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF 
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND 
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE 
# LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION 
# OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION 
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>