<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Contact Import/Export Tool", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user %><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="https://outlook.office365.com/owa/#path=/people">Outlook Web App</a></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_url %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", o365_login_url %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>